/* PHASE 3: Layout */
.content{
  position: relative;
  display: block;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width: 900px;
  margin: auto;
  overflow: ;
}

.content-sidebar{
  width: 240px;
  float: left;
  border-right: 1px solid #ccc;
  min-height: 240px;
  padding-bottom: 20px;
}

.content-main{
  width: 659px;
  float: right;
  min-height: 240px;
}

.group:after{
  content: "";
  display: block;
  clear: both;
}
